:root {
  --main-bg-color: #d6ffbd;
}

a,
a:hover,
a:active,
a:visited {
  color: black;
}

body {
  font-family: Helvetica, sans-serif;
  letter-spacing: -0.02em;
  font-style: normal;
  font-weight: bold;
}

p, ul {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 137.99%;
  letter-spacing: -0.02em;
}

.bordered {
  border: solid 3px black;
}

address.light,
h1.light,
h2.light,
h3.light,
h4.light,
h5.light {
  color: var(--main-bg-color);
}

img {
  max-width: 100%;
}

* {
    box-sizing: border-box;
}

blockquote::before, blockquote::after {
    content: "";
    border-bottom: solid 3px black;
    width: 100%;
    display: block;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
}

blockquote > p {
    padding: 25px;
}

figure {
    text-align: center;
}

figure figcaption {
    padding: 10px;
    font-family: Georgia, Times, serif;
    font-weight: normal;
    font-size: 12px;
}

@media screen and (max-width: 500px) {
    #co2 {
        display: none;
    }
}

@media screen and (min-width: 500px) {
    #pillsBilletterie {
        display: none;
    }
}

.noborderright {
    border-right: none !important;
}
