.articlesList {}

.articlesList ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.articlesList li article a {
    text-decoration: none;
    display: flex;
    align-items: center;
    border-top: solid 3px black;
    padding: 0 30px;
}

.articlesList li:last-child article {
    border-bottom: solid 3px black;
}

.articlesList li article h3 {
    flex: 1;
}

.articlesList li article span {
    font-weight: normal;
}

.articlesList li article img {
    margin-left: 30px;
}

.meta {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 968px) {
    .meta {
        flex-direction: column;
        align-items: flex-start;
    }

    .articlesList li article span {
        margin-bottom: 15px;
    }
}
