.articlesList {}

.articlesList ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.articlesList li article a {
    text-decoration: none;
    display: flex;
    align-items: center;
    border-top: solid 3px black;
    padding: 0 30px;
}

.articlesList li:last-child article {
    border-bottom: solid 3px black;
}

.articlesList li article h3 {
    flex: 1;
}

.articlesList li article author {
    font-weight: normal;
}

.articlesList li article img {
    margin-left: 30px;
}
