.content img {
    display: inherit;
    margin: auto;
}

.content p, .content ul li, .content ol li {
    font-family: 'Helvetica Neue', Georgia, sans-serif;
    font-size: 16px;
    line-height: 150%;
}

.content a, .content a.focus, .content a.hover {
    text-decoration: underline;
}

td, tr, ol li {
    font-weight: normal;
}
