.boxed {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 115.99%;
  /* or 17px */
  text-transform: uppercase;

  /* display: flex;
  align-items: center;
  text-align: center; */
  letter-spacing: -0.02em;

  color: #000000;

  padding: 10px 20px;
  margin-bottom: 30px;
  border: black solid 2px;
  width: fit-content;
  min-width: 380px;
}

@media screen and (max-width: 968px) {
    .boxed {
        min-width: 0;
    }
}
