.footer {
    padding: 17px 29px;
    display: flex;
    justify-content: space-between;
    border-top: solid 3px black;
}

.footerSocial {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer ul {
  list-style-type: none;
  display: flex;
}

.footer ul li {
    flex: 1;
}

.footerSocial li a {
    padding: 0 10px;
}

.footerSocial li:last-of-type a {
    padding-right: 0;
}

.footerSocial a {
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}
