.header {
  padding: 17px 29px;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  left: 0;
  top: 0;
  position: absolute;
  box-sizing: border-box;
}

.header ul {
  list-style-type: none;
  display: flex;
}

.header ul li > a {
  padding: 6px 20px;
  text-transform: uppercase;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 115.99%;
  /* or 17px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.active {
    border-bottom: solid 3px black;
}

.link {
  color: black;
  margin: 0 5px;
}

.linkhighlighted {
  background-color: black;
  color: var(--main-bg-color);
}

a.linkhighlighted, a.linkhighlighted:visited, a.linkhighlighted:active {
    color: var(--main-bg-color);
}

.mobileButton {
    display: none;
}

.logoMenu {
    display: flex;
}

@media screen and (max-width: 968px) {
    .logoMenu {
        display: flex;
        border-bottom: solid 3px black;
        padding: 17px 29px;
    }

    .header {
        flex-direction: column;
        border-bottom: none;
        padding: 0;
    }

    .header ul {
        z-index: 99;
        background-color: var(--main-bg-color);
        padding-left: 0;
        border: solid 3px black;
    }

    .header ul li {
        display: block;
        width: 100%;
        padding: 20px;
    }

    .header ul.mobileMenuShown {
        display: block;
    }

    .header ul.mobileMenuHidden {
        display: none;
    }

    .mobileButton {
        display: block;
        background-color: transparent;
        border-width: 3px;
        outline: none;
        border-style: solid;
        border-color: black;
        padding: 0 30px;
    }

    .active {
        border-bottom: none;
        background-color: black;
    }

    .header ul li.active a {
        color: var(--main-bg-color);
    }

    .active .linkhighlighted {
        background-color: var(--main-bg-color);
    }

    .header ul li.active a.linkhighlighted {
        color: black;
    }

    .mobileButton::after {
        content: "Menu";
    }
}
