.container {
    position: relative;
    display: flex;
    align-items: stretch;
    height: 400px;
    margin-top: 60px;
}

.title > div {
    margin: 20px;
}

.title {
    padding: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--main-bg-color);
}

.title p {
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 115.99%;
    margin: 0;
}

.media {
    flex: 4;
    background-color: black;
    width: 640px;
    max-width: 100%;
}

.withtitle {
    margin-left: 130px;
}

.dark .media {
    background-color: var(--main-bg-color);
}

.video {

}

.image {

}

.play {
    position: absolute;
    left: calc(50% - 22.5px);
    top: calc(50% - 22.5px);
}

.side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    position: relative;
}

.side header {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: solid 3px black;
    border-right: solid 3px black;
    padding: 10px;
}

.dark .side header {
    border-color: var(--main-bg-color)
}


.side.big p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 115.99%;
}

.dark .title, .dark .side {
    background-color: black;
    color: var(--main-bg-color);
    border-color: var(--main-bg-color);
}


@media screen and (max-width: 968px) {
    .title {
        padding: 15px;
        right: 50%;
    }

    .title *[class^="logo"] {
        display: none;
    }

    .side {
        padding: 15px;
        position: absolute;
        left: 66%;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: var(--main-bg-color);
    }

    .side.big p {
        font-size: 14px;
    }

    .side p {
        font-size: 10px;
    }

    .title p {
        font-size: 10px;
    }

    .container .title .logo {
        font-size: 16px;
    }

    .withtitle {
        margin-left: 0;
    }

    .media {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}
