.jour {
    margin-right: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.jourTitle {
    border: solid 3px black;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
}

.schedule {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 90px;
}

/* Time Slot content */
.time {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 12px */

  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
  border-bottom: #000000 solid 2px;
  background-color: var(--main-bg-color);

  padding: 11px;
  margin-bottom: 10px;
}

.timeSlot {
    margin-bottom: 10px;
    border: black solid 2px;
    color: #d6ffbd;
    background-color: black;
}

.timeBorder {
    border: solid 3px black;
}

.timeSlot .eventTitleBlockWrapper {
  min-height: 120px;
}

.timeSlot .eventTitleBlock {
  display: flex;
  flex-direction: column;

  padding: 15px 20px;

  background-color: #d6ffbd;
}

.timeSlot .eventTitleBlock .title {
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  overflow-wrap: anywhere;
  color: #000000;
}

.timeSlot .eventType {
  margin: 20px;
  height: 30px;
  border: #d6ffbd solid 2px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 100%;
  /* or 9px */
  text-transform: uppercase;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.02em;
}

.timeSlot .eventTitle {
    padding: 0px 20px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 20px;
    /* or 15px */

    letter-spacing: -0.02em;
  }

.timeSlot .eventCategory {
  padding: 0px 20px;

  font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 119.49%;
  margin-bottom: 10px;
  /* or 15px */

  letter-spacing: -0.02em;
}

.timeSlot .eventSpeaker {
  padding: 0px 20px;
  margin-bottom: 30px;

  font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 115.49%;
}

.time.singleSession {
    margin-bottom: 0;
}

.liveBlock {
    border: solid 3px black;
    margin-bottom: 10px;
}

.liveBlock .time {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.liveBlock .eventType {
    margin: 15px;
    height: 30px;
    border: black solid 2px;
    background-color: black;
    color: var(--main-bg-color);

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 100%;
    /* or 9px */
    text-transform: uppercase;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.02em;
  }


.liveBlock .eventCategory {
    padding: 20px;
    background-color: black;
    color: var(--main-bg-color);
    text-align: center;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    /* or 15px */

    letter-spacing: -0.02em;
}

