.numbered ol {
  width: 100%;
  counter-reset: list-item, decimal-leading-zero;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.numbered ol li {
  margin: 0 0 67px 0;
  counter-increment: list-item, decimal-leading-zero;
  position: relative;
}

.numbered ol li:last-child {
    margin-bottom: 0;
}

.numbered ol li::after {
  position: absolute;
  top: 0;
  content: counter(list-item, decimal-leading-zero);
  --size: 120px;
  line-height: var(--size);
  width: var(--size);
  height: 80px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 97px;
  line-height: 78%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  letter-spacing: -0.02em;

  -moz-text-fill-color: var(--main-bg-color);
  -webkit-text-fill-color: var(--main-bg-color);
  -moz-text-stroke-color: black;
  -webkit-text-stroke-color: black;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
}

.title {
  text-align: center;
  margin-left: 120px;
  margin-bottom: 0 !important;
}

.numbered p {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 137.99%;
  /* or 21px */

  letter-spacing: -0.02em;

  color: #000000;
}

.columnContainer {
  display: flex;
}

.rightColumn {
  flex-basis: 1.5;
  padding-left: 20px;
}

.rightColumn p:first-of-type {
  margin-top: 0;
}

.rightColumn {
  flex-basis: 1;
}

@media screen and (max-width: 968px) {
    .columnContainer {
        flex-direction: column;
        max-width: 100%;
    }

    .numbered ol li::after {
        position: absolute;
        top: 200px;
        right: 0;
    }

    .numbered ol li {
        margin: 0;
    }

    .title {
        margin-left: 0;
    }

    .rightColumn {
        margin-top: 30px;
        padding-left: 0;
    }
}
