.numbered ol {
  width: 100%;
  max-width: 1000px;
  counter-reset: list-item, decimal-leading-zero;
  list-style: none;
  padding-left: 150px;
}

.numbered ol li {
  margin: 0 0 67px 0;
  counter-increment: list-item, decimal-leading-zero;
  position: relative;
}

.numbered ol li::before {
  content: counter(list-item, decimal-leading-zero);
  position: absolute;
  --size: 150px;
  left: calc(-1 * var(--size));
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 97px;
  line-height: 78%;
  display: flex;
  align-items: start;
  justify-content: center;

  letter-spacing: -0.02em;

  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-stroke-color: black;
  -webkit-text-stroke-color: black;
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
}

.numbered p {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 137.99%;
  /* or 21px */

  letter-spacing: -0.02em;

  color: #000000;
}
