.pills {
    display: flex;
    width: auto;
    align-self: flex-start;
    text-transform: uppercase;
    max-height: 44px;
}

.pills > div {
    padding: 10px;
}

.pills > div:first-child {
    border-right: solid 3px black;
}

.pills img {
    margin-top: -5px;
}
@media screen and (min-width: 500px) and (max-width: 968px) {
    .pills {
        font-size: 10px;
    }

    .pills img {
        width: 10px;
        height: 10px;
    }
}
