.section {
  margin: 0 auto;
  padding: 60px;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

@media screen and (max-width: 968px) {
    .section {
        padding: 28px;
    }
    .container {
        z-index: 0;
    }
}

.vertical {
  flex-direction: column;
}

.black {
  background-color: black;
}

.container {
  width: 1080px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

.noMarginTop {
    padding-top: 0;
}
