.speaker {
  border: solid 3px black;
  min-width: 200px;
  position: relative;
  padding-bottom: 20px;
}

.speaker.dark {
    background-color: var(--main-bg-color);
}

.speaker img {
    border-bottom: solid 3px black;
}

.speaker.dark img {
    border: none;
}

.headers {
    padding: 15px;
}

.headers.pullup {
    padding: 10px;
    border-bottom: solid 3px black;
    border-right: solid 3px black;
    width: 80%;
    margin-top: -4px;
}

.speaker header {
    text-transform: uppercase;
    font-size: 15px;
}

.speaker header.title {
    font-size: 12px;
    padding-top: 5px;
}

.description {
    padding: 0 15px;
}

.social {
   position: absolute;
   bottom: 0;
}

.social span {
    margin-left: 10px;
    margin-bottom: 10px;
}

.profilepic {
    width: 100%;
}

@media screen and (max-width: 968px) {
    .speaker {
        min-width: 100px;
    }
}
