.sponsors {
    max-width: 100%;
}

.main {
    color: var(--main-bg-color);
    margin: 90px;
    text-align: center;
    font-size: 24px;
}

ul.list {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

ul.list li {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.sponsors li a {
    color: var(--main-bg-color);
    text-decoration: none;
}


.li {
    flex: 1;
}

.logo {
    max-width: 100%;
}

@media screen and (max-width: 968px) {
    ul.list {
        flex-direction: column;
    }
}
