:root {
  --main-bg-color: #d6ffbd;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Helvetica;
}

.layout {
  margin: 0 auto;
  margin-top: 100px;
}
